/* styles.css */

/* Basic reset for better cross-browser compatibility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #a8a8a8;
  color: #222222;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  margin: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Column styles */
.column {

  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 20px;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
}

/* Medium devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
      justify-content: space-between;
  }
  .column {
      flex: 1;
      margin: 10px;
  }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
      flex-direction: row;
  }
  
  .column {
      margin: 20px;
  }

  #column1 {
      flex: 1 1 30%; /* 70% width */
  }
  
  #column2 {
      flex: 1 1 70%; /* 30% width */

  }

  nav {
      display: flex;
      flex-direction: column;
  }
}



