---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Novo Sobre Mim";
---
   
<BaseLayout pageTitle={pageTitle}>
    <p>I’m a communication designer based in Lisbon, with interests
                                    in editorial design, graphic design and photography. I aim to learn
                                    new trades and gain new experiencies to construct a better
                                    and more complex way to represent the visual arts.</p>

                                <p>Education</p>

                                <p>2020-2023<br>
                                    BA in Communication Design<br>
                                    Faculty of Fine-Arts of the University of Lisbon</p>

                                <p>2023-present<br>
                                    Post-Graduate Course in Digital Experience Design<br>
                                    Faculty of Fine-Arts of the University of Lisbon</p>

                                <p>Skills</p>

                                <p>Profficiency with the CC Adobe Suite (Photoshop, Illustrator, InDesign, Premiere).<br> 
                                    Basic knowledge of Cargo, Wordpress, Figma, HTML and CSS languages.</p>
</BaseLayout>