---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="column" id="column1"><nav>
            <p a href="index.html"> Gustavo Vigna</p>
            <p><a href=/about>About<a></p>
            <p>Contacts</p>
        </nav></div>
        <div class="column" id="column2">
          <slot></slot>
    </div>
</body>
</html>
