---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="column" id="column1">
        <ul>
           <li> <h1><a href="/">GUSTAVO VIGNA</a></h1></li>
           <li> <h1><a href="/about">ABOUT</a></h1></li>
           <li> <h1><a href="/contacts">CONTACTS</a></h1></li>
        </ul>
        </div>
        <div class="column" id="column2">
          <slot></slot>
    </div>
    <footer>
        <p id="footer">Copyright protected content. Total or partial reproduction is prohibited without express authorization from the authors. – Copyright © 2024</p>
    </footer>
</body>
</html>
